{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body class="homepage">
    <div class="content">
        
        <div class="SCA">
            <a href="/calculator">Calculator</a>
        </div>

        <div class="currency">
            <a href="# ">Curancy Converter</a>
        </div>

    </div>
    <button class="button_homepage"><a href="all_members/">All Members</a></button>
</body>

</html>