{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
</head>

<body>
    <div class="navbar">
        <nav>
            <a href="/"><img class="img_nav" src="{% static 'images/icon.png' %} " alt="icon"></a>  
            <a href="/">Home</a>    
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

</body>

</html>